@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #9a4b7b;
  --primary-color-dark: #782a59;
  --text-dark: #333333;
  --white: #ffffff;
  --max-width: 1200px;
}
body {
  font-family: "Montserrat", sans-serif;
}
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav-header {
  /* background-color: lightblue; */
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}
.nav-logo a img {
  max-width: 100px;
}

.nav-logo .logo-dark {
  display: none;
}
.nav-menu-btn {
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}
.nav-links {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}
.nav-links.open{
    transform: translateY(100%);
}
.nav-links a{
    color: white;
    font-weight: 400;
    white-space: nowrap;

}
header{
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: grid;
    gap: 4rem 1rem;
}

.header-content h2{
    color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    
}
.header-content h1{

}


@media( width > 786px){
    nav{
        position: static;
        display: flex;
        width: 100%;
        padding-left: 7rem;
        padding-top: 1rem;
        margin-inline: auto;
        justify-content: center;
        align-items: center;
        
    }
    .nav-header{
        
        background-color: transparent;

    }
    /* .nav-logo  img{
        font-size: 100px;
        width: 1500px;
    } */
    .nav-logo .logo-dark{
         display: flex;
         height: 35px;
         width: 1000px;
    }

    .nav-logo .logo-white{
         display: none;
    }
    .nav-menu-btn{
        display: none;

    }
    .nav-links{
        position:static;
        width: fit-content;
        padding: 0;
        flex-direction: row;
        background-color: transparent;
        transform: none !important;

    }
    .nav-links a {
        color: var(--text-dark);
        font-weight: 600;
    }
    .nav-links a:hover{
        color: var(--primary-color-dark);
    }
}
    

